/* Header layout */
.header{
	display: flex;
	align-items: center;
	justify-content: space-between; 
	padding: 1px 2px;
	margin-top:2px;
	background-color: white;
	
}
body{
	background-color:lab(93.07% -0.2 2.65);
}

@media (max-width: 900px) {
  .profile-container {
    flex-direction: column;
  }
}

/* Left side: logo + search */
.header__left{
	display: flex;
	align-items: center;
	/* center the left group while allowing right nav to stay on the right */
	flex: 1 1 auto;
	justify-content: center;
}

/* Logo sizing */
.header__left img{
    width: 48px;
    height: 35px;
    object-fit: contain;
	margin-left: 8px;
}
/* Logo group: text + image */
.logoGroup{
	display: flex;
	align-items: center;
	margin-right: 16px;
	color:gray;
}

.logoText{
	font-weight: 700;
	color: #2375c6;
	margin-right: 8px;
	font-size:30px;
	height:30px;/* match logo height */
	display: flex;
	align-items: center; /* vertically center text */
}

.header__search{
	display: flex;
	align-items: center;
	background: #eef3f8;
	padding: 6px 12px;
	border-radius: 999px;
	color: rgb(8, 8, 8);
	border: 1px solid #595a5b;
	margin-left: 12px;
	min-width: 240px;
}


.header__search input{
	border: none;
	background: transparent;
	outline: none;
	margin-left: 8px;
	font-size: 16px;
	width: 100%;
}

.header__right{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	margin-right:30px;
	padding-left:30px;
	height:50px;
	color:lightgray;
}
.header__right img{
	height:23px;
	border-radius: 3px;
}
a{
	margin-bottom:23px;
	font-size: small;
	color:rgb(92, 90, 90);
}

.header__right .header__navlink{
	text-decoration: none;

	padding-right:10px;
	height:15px;
	
	
}
.header__right .header__navlink title{
	font-weight: bold;
	color:rgb(165, 35, 35);

}

.header__right .header__navlink:hover {
	opacity: 0.9;
	cursor:pointer;
	color:black;
}
.qrModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.qrModal__content {
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}
.qr-page__container>img{
	  width: 450px;
  height: 450px;
  align-items: center;
  margin-left: 550px;
  margin-top: 50px;
}
.qr-page__container>h2{
	  text-align: center;
  margin-top: 50px;
}

